/* Hacked together by /u/stuomas for /r/Kodi. Newest version always available at github.com/stuomas/stuomaskin. */

html {
    position: relative;
    height: 100%;
}

body {
    background: linear-gradient(135deg, #777, #fff);
    font-family: Lato, arial, sans-serif !important;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#siteTable.linklisting {
    padding-top: 37px !important;
}

.content #siteTable,
.content .commentarea {
    /*spacing around link area and comment area*/
    margin: 20px 350px 0px 12px;
    padding: 34px 5px;
    /*inside the area*/
}


/* Reddit's featured post */

.organic-listing {
    background-color: rgba(250, 250, 250, 0.75);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
    margin: 20px 350px 0px 12px !important;
    padding-top: 35px;
    border: none;
}


/* Reddit's subscribe to newsletter post */

.newsletter-container {
    margin: 55px 350px 0px 11px;
}

.content .reddit-infobar {
    background-color: rgba(255, 255, 255, 0.9);
    width: 300px;
    margin-left: 10px;
    border: 1px solid #333;
}


/* Promoted-page "want to advertise?" -box */

.reddit-infobar.md-container-small {
    position: absolute;
    margin-top: -88px;
    margin-left: 280px;
    z-index: 10;
}

div#siteTable {
    padding-bottom: 10px !important;
}

#siteTable,
.commentarea {
    /*this makes that rounded edge for the link/comment area */
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px 0;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
    border-radius: 0px;
}

.controversial-page .menuarea,
.top-page .menuarea {
    position: absolute;
    margin-top: -23px;
}

.dropdown-title {
    color: #eee;
}

h2 {
    color: #31afe1 !important;
}

h1 {
    margin-left: 7px;
}

h4 {
    margin: 20px 0 40px 0;
}

h5 {
    font-family: Lato, arial, sans-serif;
    font-size: 1.3em;
    margin-top: 1em;
    line-height: 1.5;
}

h6 {
    font-family: Lato, arial, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
    margin-top: .8em;
    line-height: .5;
    padding-left: 15px;
}

h6 a:hover {
    font-family: Lato, arial, sans-serif;
    text-decoration: underline;
    color: #333;
}

#header {
    background: url(%%header%%) no-repeat;
    background-size: cover;
    /*background: linear-gradient(90deg, #333, #555) !important;*/
    height: 110px;
    margin-bottom: 15px;
    z-index: 1;
    border: none;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
}


/* Kodi Logo */

span.pagename.selected,
span.pagename.hover.redditname {
    color: transparent;
    position: relative;
    top: 50px;
    font-size: 20px;
}

.redditname a {
    background: url(%%logo%%) no-repeat;
    height: 75px;
    width: 230px;
    margin-top: 10px !important;
    margin-left: 17px;
}

#header-bottom-left {
    height: 24px;
}

.redditname a {
    font-size: 0;
    /* SMALL IMAGE/TEXT FOR SIDE PANEL */
}

.thumbnail {
    border-radius: 0 !important;
}

#header #header-img {
    display: none;
}

#header-img-a,
.redditname a,
.tabmenu {
    display: inline;
    padding-left: 10px;
    float: left;
}

#header-img {
    margin-right: 0px;
}


/**************
 Top Link Bar
***************/

#sr-header-area {
    background: #31afe1 !important;
    border-bottom: 2px solid #31afe1;
    height: 13px;
    line-height: 12px;
    padding-top: 3px;
}

#sr-header-area .width-clip {
    margin-right: 250px;
}

.sr-bar a {
    color: #fff;
}

#sr-header-area .separator {
    color: #fff;
}

#sr-more-link {
    display: none;
    background-color: transparent;
    color: #000;
}

#sr-header-area .srdrop .selected {
    color: #fff;
}


/****************************
 My Subreddits drop-down list
*****************************/

.icon-menu a {
    color: #333;
    background-color: transparent;
}

.drop-choices {
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #333;
    padding: 2px 10px;
}

.drop-choices a {
    color: #fff !important;
}

#sr-header-area div.srdrop a.choice.bottom-option {
    color: #fff !important;
}

#sr-header-area div.drop-choices a.choice:hover {
    background-color: #31afe1 !important;
    color: white !important;
}

.menuarea .selected {
    color: #31afe1 !important;
    text-decoration: none !important;
}

.menuarea .drop-choices {
    position: relative;
    background-color: rgba(0, 0, 0, 0.75);
    border: 1px solid #333;
    width: 150px;
    margin-top: -20px;
}

.menuarea .drop-choices a.choice:hover {
    background-color: #31afe1 !important;
    color: white !important;
}


/******************************************************
 Tab menu (HOT, NEW, RISING, CONTROVERSIAL, TOP, etc.)
*******************************************************/

.tabmenu li a {
    text-transform: uppercase;
    color: #ddd;
    background-color: transparent;
    border-radius: 0px;
    border: none;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 0 0;
    line-height: 1.4;
    padding: 8px;
}

.tabmenu li.selected a {
    background-color: transparent;
    color: #31afe1;
    border: none;
    font-weight: 900;
    padding-bottom: 2px;
}

.tabmenu li a:hover {
    color: #31afe1;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    padding: 8px;
}

.tabmenu {
    width: calc(100% - 378px);
    /* Keeps the width always the same as the linklisting area */
    border-radius: 0px;
    /* background: linear-gradient(90deg, rgba(255,255,255,0.05), transparent);*/
    background: linear-gradient(90deg, #333, transparent);
    float: left;
    padding: 10px 0px 10px 8px;
    position: absolute;
    top: 125px;
    left: 16px;
}

.comments-page .tabmenu {
    display: none;
}


/***********************
 User's information bar
************************/

#header-bottom-right {
    background: linear-gradient(90deg, #31afe1, rgba(0, 0, 0, 0.5));
    position: absolute;
    top: -2px;
    right: 0px;
    padding-left: 30px;
    padding-right: 5px;
    border: none;
    border-radius: 0;
    margin-bottom: 92px;
    color: #fff;
}

#header-bottom-right a,
#header-bottom-right .user,
#header-bottom-right .separator {
    color: #fff;
    font-size: 10px;
}

#header-bottom-right a:hover {
    color: #f00;
    text-decoration: none;
}


/**************
 Sidebar
***************/

div.titlebox span.word {
    /*disables default text*/
    display: none;
}

span.subscribers:before {
    margin-left: 3px;
    margin-right: 15px;
    content: url(%%subicon%%);
}

span.subscribers:after {
    font-style: italic;
    content: " happy subscribers"
}

p.users-online span.number:after {
    font-style: italic;
    content: " redditors currently browsing"
}

.side:before {
    margin-left: 0px;
    background: url(%%sidebar%%) 300px;
    content: "";
    position: absolute;
    top: 140px;
    height: 225px;
    width: 300px;
    border-radius: 0px;
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.34);
}

.side {
    margin: 5px 17px 20px 0px;
    /* side box backgroundbox margin */
    padding: 272px 10px 0px 10px;
    background-color: rgba(250, 250, 250, 0.75);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
}

.titlebox {
    background-color: transparent !important;
    color: #333;
    margin-top: 0px;
}

.usertext-body {
    margin-right: -4px;
}

.content .commentarea .comment,
.content .commentarea .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: #f5f5ff !important;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-right: 10px;
    padding: 8px;
}

.content .commentarea .comment .comment,
.content .commentarea .comment .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment,
.content .commentarea .comment .comment .comment .comment .comment .comment .comment .comment .comment .comment {
    background: #fff !important;
    border: 1px solid #ccc;
    padding: 8px;
}

.new-comment .usertext-body {
    background-color: #31afe1;
    border: none;
    margin: -1px 0;
}

.content .commentarea {
    padding-right: 30px;
}

.titlebox a {
    color: #31afe1;
}

.titlebox a.hover {
    display: none;
}

.titlebox .bottom {
    display: none;
}

.spacer .titlebox {
    padding: 5px;
}

.titlebox form.toggle,
.leavecontributor-button,
.leavemoderator {
    background-color: rgba(0, 0, 0, 0.05);
    color: #333;
    padding: 5px;
}


/* Fix for stylesheet edit page */

.sheets {
    max-width: 985px;
}

.searchpane {
    margin-top: -50px;
    margin-left: -150px !important;
}

.search-result-group {
    background-color: rgba(250, 250, 250, 0.75);
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
    border-radius: 0px;
    margin: 25px 0px 0px 35px !important;
    padding: 34px 5px;
    /*inside the area*/
}

form#search {
    border-radius: 0px;
    min-height: 40px;
    margin-top: 35px;
    margin-left: 154px;
}

#search input[type="submit"] {
    /* Searchbox icon */
    position: relative;
    right: 22px;
}

#search input[type="text"] {
    font-family: Lato, arial, sans-serif;
    background-color: #f9f9f9;
    /*#035165*/
    border: 0px solid #0088BB;
    border-radius: 0px;
    font-size: 18px !important;
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    height: 49px;
    width: 146px !important;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.24);
    color: #333 !important;
}

#searchexpando.infobar {
    margin-left: -154px;
    text-align: center;
    background: rgba(0, 0, 0, 0.05);
    border: 0px;
    border-radius: 0;
}

.sidecontentbox .content {
    background: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.24);
}


/* submit buttons derived from Naut */

.morelink {
    margin-top: -65px;
    height: 50px;
    border-radius: 0px;
    line-height: 50px;
    border: none;
    text-align: center;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.24);
}

.sidebox.submit.submit-text .morelink {
    margin-left: 154px;
}

.morelink a {
    color: #333;
    font-weight: 600;
    letter-spacing: 0;
}

.submit-text .morelink a:before {
    text-align: center;
    font-size: 18px;
    content: "Submit Text"
}

.submit-link .morelink a:before {
    text-align: center;
    font-size: 18px;
    content: "Submit Link"
}

.submit-text .morelink:hover a:before {
    color: #31afe1;
    text-align: center;
    font-size: 18px;
    content: "NO PIRACY!"
}

.submit-link .morelink:hover a:before {
    color: #31afe1;
    text-align: center;
    font-size: 18px;
    content: "NO PIRACY!"
}

.morelink .nub {
    display: none
}

.submit .morelink {
    position: absolute;
    top: 442px;
    font-size: 0;
    width: 146px
}

.sidebox.create {
    display: none;
    /* margin-top: 100px;
    background-color: transparent;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.24); */
}

.side .morelink a {
    border-radius: 0px;
    background-color: #31afe1 !important;
    color: #eee;
}

.side .morelink a:hover {
    background-color: #333 !important;
    color: white;
}


/* custom subscribe button derived from Naut */

.titlebox .fancy-toggle-button {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.24);
    margin: 0;
    position: absolute;
    margin-left: -5px;
    top: 437px;
    border-radius: 0px
}

.titlebox .fancy-toggle-button .active {
    text-align: center;
    font-size: 18px;
    border: none;
    display: block;
    height: 49px;
    width: 122px;
    border-radius: 0px;
    line-height: 49px;
    padding: 0 12px;
    text-transform: capitalize
}

.titlebox .fancy-toggle-button .active.add {
    background: #31afe1;
    color: #fff
}

.titlebox .fancy-toggle-button .active.remove {
    background: #f8f8f8;
    color: #888
}

.titlebox .fancy-toggle-button .active:hover {
    background-color: #333;
    color: #31afe1;
}

.titlebox .fancy-toggle-button .active.remove:hover {
    color: #31afe1;
}

.fancy-toggle-button:hover {
    color: #333;
}

.titlebox .fancy-toggle-button a.active.remove:hover {
    font-size: 0;
    content: '';
}

.titlebox .fancy-toggle-button a.active.remove:hover:before {
    font-size: 18px;
    color: #31afe1;
    content: ":(";
}


/*********************
 Page Specific tweaks
**********************/

div.wiki-page-content.md-container {
    margin-top: 40px;
    color: #eee;
}

.submit-page .btn {
    font-size: 40px;
    background-color: #31afe1;
    border-radius: 0;
    color: #fff;
    padding: 5px 0px 10px 0px;
    border: 1px solid #333;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: 0 0px 3px 0 rgba(0, 0, 0, 0.64);
    width: 620px;
}

.submit-page .btn:hover {
    font-size: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #333;
    color: #31afe1;
}

.submit-page .btn:hover:after {
    font-size: 14px;
    content: "Did you remember that piracy discussion here is strictly forbidden?";
}

.submit-page .btn:active {
    transform: scale(0.98);
}

.submit-page .content a {
    color: #31afe1;
}

.submit-page .content h1 {
    color: #fff;
}

.submit-page .content .submit_text h1 {
    color: #333;
    margin-left: 0;
}

.submit-page .roundfield,
.submit-page .infobar {
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
    width: 600px;
}

.submit-page .roundfield-content .input,
.submit-page .roundfield-content .title,
.submit-page .roundfield-content #sr-autocomplete {
    width: 593px;
}


/* Search Page */

#previoussearch #search input[type="text"] {
    background-color: rgba(250, 250, 250, 0.75);
    color: #555 !important;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
}


/* Shift sidebar back up when on Search page */

body.search-page .side {
    padding-top: 354px;
}


/* Comment page */

.link .usertext .md {
    border: 1px solid #BBCCDD;
    background: #fcfcfc;
    padding: 5px;
    border-radius: 0px;
}

.linkinfo {
    /* The box that appears under the search area */
    border: 1px solid #BBCCDD;
    background: #fcfcfc;
    padding: 5px;
    border-radius: 0px;
}

.panestack-title {
    /* Prevents seperator bleeding into sidebar */
    margin-right: 365px;
}

.keyHighlight {
    background-color: transparent !important;
}

.link.last-clicked {
    /* Front page */
    border: none;
}

#siteTable.sitetable.linklisting {
    padding-top: 15px;
}

.thing.stickied a.title,
.thing.stickied a.title:visited {
    color: #009c7a !important;
}

.thing .title {
    color: #1B61A8
}

.thing .title.loggedin.click:visited,
.thing .title.loggedin.click,
.thing .title.loggedin:visited,
.thing .title.click,
.thing .title:visited {
    color: #626785 !important;
}

.stickied .thumbnail {
    background: url(%%sticky%%) 10px no-repeat;
    margin-left: -10px;
}

.thumbnail {
    margin-left: -10px;
}

.thumbnail img {
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    position: absolute;
    margin-left: 10px !important;
}

p.title {
    margin: 0px 340px 15px 0px;
}

.listing-page .entry {
    border-bottom: 0px dotted #BBCCDD;
    /* Post separator */
}

.footer-parent {
    /*  background: url(%%footer%%); */
    background: linear-gradient(0deg, #111, #333, #111);
    margin-bottom: -100px;
    color: #fff;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.74);
}

p.bottommenu {
    padding-bottom: 20px;
    color: #eee;
}

.footer-parent a,
.footer-parent a:visited {
    /* Footer */
    color: #fff !important;
}


/* Submit page */

textarea {
    background: none;
    border: 1px solid #777;
    background-color: #fcfcfc;
    color: #333;
}

input {
    background: none;
}

.roundfield {
    /* boxes that surround url/title fields */
    background: #fcfcfc;
    border: 1px solid 777;
    border-radius: 0;
}

#link-desc {
    /* Link description boxes */
    background: #31afe1;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border: 1px solid #333;
    margin-top: 35px;
    margin-bottom: 15px;
    box-shadow: none;
    font-size: 0;
}

#link-desc:after {
    font-size: 14px;
    content: "ZERO TOLERANCE FOR PIRACY! This subreddit does not support discussion or links pertaining to gray area or illegal add-ons (such as genesis or icefilms) for Kodi made by 3rd party developers. Any such links or discussion will be removed. For discussion of those add-ons, feel free to visit unofficial subreddit /r/Addons4Kodi.";
}

#text-desc {
    background: #31afe1;
    padding: 10px;
    color: #fff;
    font-weight: 700;
    border: 1px solid #333;
    margin-top: 35px;
    margin-bottom: 15px;
    box-shadow: none;
    font-size: 0;
}

#text-desc:after {
    font-size: 14px;
    content: "ZERO TOLERANCE FOR PIRACY! This subreddit does not support discussion or links pertaining to gray area or illegal add-ons (such as genesis or icefilms) for Kodi made by 3rd party developers. Any such links or discussion will be removed. For discussion of those add-ons, feel free to visit unofficial subreddit /r/Addons4Kodi.";
}

ul.tabmenu.formtab {
    /* Text / link tabs */
    position: absolute;
    left: 5px;
    top: 166px;
    padding: 5px;
    border-radius: 0;
    border-bottom: none;
    background: none;
    box-shadow: none;
}

ul.tabmenu.formtab li a {
    border: 1px solid #333;
    border-bottom: none;
    color: #31afe1;
    background: #444 !important;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
}

ul.tabmenu.formtab li.selected a {
    border: 1px solid #333;
    border-bottom: none;
    background: #31afe1 !important;
    padding: 5px;
    font-size: 20px;
    font-weight: 400;
    color: #fff !important;
}

.content .tabmenu {
    /* Tabs on the mod's edit flair page */
    position: relative;
    right: 550px;
    top: 0;
}

.content .tabmenu li.selected a {
    color: #31afe1 !important;
}

.content .tabmenu a:hover {
    color: #31afe1 !important;
}

.menuarea li.selected a {
    color: #31afe1;
}

.link .score.likes {
    color: #31afe1;
}

.usertext p {
    font-size: 13px !important;
    color: #333;
}

p#noresults {
    color: #333;
    font-style: italic;
    margin-left: 15px;
}

div.rounded.gold-accent.comment-visits-box {
    /* Box below comment box ("Highlight comments...") */
    margin-left: 10px;
    border-radius: 0;
    border: 0px solid #333;
    background-color: rgba(250, 250, 250, 0);
    color: #333;
}

.thumbnail {
    border-radius: 7px !important;
}

.link .score {
    text-align: center;
    color: #31afe1;
}

.link.odd {
    background-color: rgba(100, 100, 255, 0.03);
    padding-top: 9px;
    padding-bottom: 9px;
}

span.rank {
    /* Hide ordinals from posts */
    display: none;
}

.entry .buttons li a {
    font-size: 13px;
    font-weight: 100;
}

.entry .buttons li a.comments {
    color: #31afe1;
    font-weight: 700;
}

.entry .tagline {
    font-style: italic;
}

.entry .tagline a {
    font-style: normal;
    font-weight: 700;
}

.side .md h1,
.side .md h2 {
    background-color: #31afe1;
    color: #fff !important;
    text-align: center;
    box-shadow: 0 0px 5px 0 rgba(0, 0, 0, 0.34);
}

.side .titlebox .md h1,
.side .titlebox .md h2 {
    margin: 15px -1px 15px -5px !important;
    padding: 7px;
}

.side .md h1 a,
.side .md h2 a {
    color: #fff;
}


/* Padding for votes number so high number isn't half hidden */

.midcol {
    padding-right: 12px;
}


/* Moderator nickname color - add new line for new mods and change name */

.author[href$="/kibje"] {
    color: #009c7a;
}

.author[href$="/member_one"] {
    color: #009c7a;
}
